@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap");

:root {
  --font-family: "Public Sans", sans-serif;

  --fw-light: 300;
  --fw-regular: 400;
  --fw-bold: 700;

  --primary-clr-700: hsl(233, 26%, 24%);
  --primary-clr-400: hsl(136, 65%, 51%);
  --primary-clr-300: hsl(192, 70%, 51%);

  --neutral-clr-600: hsl(233, 8%, 62%);
  --neutral-clr-300: hsl(220, 16%, 96%);
  --neutral-clr-200: hsl(0, 0%, 98%);
  --neutral-clr-100: hsl(0, 0%, 100%);
}

/* GENERAL RESET */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

html {
  font-family: var(--font-family);
  font-size: 18px;
}

/* UTILITIES */

.container {
  width: 80%;
  max-width: 1440px;
  margin: 0 auto;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.flex-column {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
}

.flex-container__footer {
  display: flex;
  gap: 4rem;
}

.bg-color-100 {
  background-color: var(--neutral-clr-100);
}

.bg-color-200 {
  background-color: var(--neutral-clr-200);
}

.bg-color-300 {
  background-color: var(--neutral-clr-300);
}

.bg-color-700 {
  background-color: var(--primary-clr-700);
}

.padding-block-sm {
  padding-block: 2.5rem;
}

.padding-block-lg {
  padding-block: 5.5rem;
}

/* HEADER */

header {
  position: relative;
  z-index: 10;
  /* padding-block: 2.5rem; */
}

/* HERO SECTION */

.showcase {
  display: flex;
}

.hero-description {
  padding-block: 8rem;
  /* width: 66%; */
  width: 40%;
}

h1 {
  font-size: 3rem;
  font-weight: var(--fw-light);
  margin-bottom: 2rem;
  color: var(--primary-clr-700);
}

.hero-img {
  position: relative;
  width: 100%;
  /* margin-right: -10rem; */
  margin-right: -30%;
  background-image: url(../images/bg-intro-desktop.svg);
  background-position: 3rem -15rem;
  background-repeat: no-repeat;
}

.mockups {
  position: absolute;
  top: -25%;
  right: 5%;
}

/* FOOTER */

.footer-icons > img {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(131deg)
    brightness(107%) contrast(103%);
}

/* .footer {
  display: flex;
  gap: 4rem;
}

.footer-navigation {
  display: flex;
  gap: 4rem;
} */

.footer {
  /* padding-block: 2.5rem; */
}

.footer-cta {
  margin-left: auto;
}
